.all-jobs-wrapper {
  transition: 0.3s ease;
  width: 100%;
}
.no-apps-text {
  font-family: "Rajdhani", sans-serif;
}
.filter-wrapper {
  width: 40%;
}
@media screen and (max-width: 992px) {
  .filter-wrapper {
    width: 90%;
  }
  .all-jobs-wrapper:last-child {
    margin-bottom: 20px;
  }
}
