.stats-item:hover {
  transform: translateY(-1px);
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}
.stats-item {
  cursor: pointer;
}
.quote {
  width: 100% !important;
  min-height: 100px;
}
@media screen and (max-width: 992px) {
  .quote {
    width: 100%;
  }
}
